---
import Layout from "../layout/Layout.astro";
---

<Layout title="Progetti - Portfolio">

  <section class="py-16">
    <h1 class="text-4xl font-bold mb-8">
      I miei progetti
    </h1>

    <div class="grid gap-6 md:grid-cols-2">

      <div class="border rounded-xl p-6 hover:shadow-md transition">
        <h2 class="text-xl font-semibold mb-2">Portfolio Astro</h2>
        <p class="text-gray-600">
          Primo sito web creato con Astro e Tailwind.
        </p>
      </div>

      <div class="border rounded-xl p-6 hover:shadow-md transition">
        <h2 class="text-xl font-semibold mb-2">Progetto Armonia</h2>
        <p class="text-gray-600">
          Esercizi e simulazioni.
        </p>
      </div>

    </div>
  </section>

</Layout>